body{
  background-color: #0f172a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.Top-Heading{
  color: white;
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}

input{
  width: 200px;
  height: 30px;
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 16px;
  margin-left: 440px;
  margin-top: 20px;
  text-align: center;
  background-color: white;
}

input:focus{
  box-shadow: 0px 0px 10px cyan;
}